@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-card1-color: hsl(180, 62%, 55%);
    --main-card2-color: hsl(0, 78%, 62%);
    --main-card3-color: hsl(212, 86%, 64%);
    --main-card4-color: hsl(34, 97%, 64%);
    --main-card-bx-shadow: 0px 0px 5px rgba(0,0,0.5);
    --main-span-color: hsl(234, 12%, 34%);
    --main-text-color: hsl(180, 82%, 52%);
    --main-cards-bg-color:hsl(0, 0%, 98%);
    --main-gradient-color: linear-gradient(to right, rgb(67, 124, 205), rgb(69, 214, 202));
    --main-white_30: hsl(0, 0%, 100%, 0.3);
}

body {
    background: url('../images/web.gif');
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    line-height: 1.4;
    max-width: 1440px;
    margin: 50px;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1rem;
    color: var(--main-span-color);
}

h1, h3 {
    background: var(--main-gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 15px;
    font-weight: 200;
    color: var(--main-text-color);
}

img {
    width: 50px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero-text p {
    font-size: 1rem;
    padding: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    margin: 30px;
    justify-items: center;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 10px;
    padding: 10px;
    margin: 10px 120px 0;
}

.card-1, .card-2, .card-3, .card-4 {
    background-color: var(--main-cards-bg-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    padding: 30px;
    gap: 10px;
    margin: 20px;
}

.card-1 {
    grid-column: 1/2;
    border-top: 4px solid;
    border-top-color: var(--main-card1-color);
    justify-self: center;
    position: absolute;
    top: 45%;
    left: 200px;
    width: 300px;
}

.card-2 {
    grid-column: 2/3;
    border-top: 4px solid;
    border-top-color: var(--main-card2-color);
}

.card-3 {
    grid-column: 3;
    border-top: 4px solid;
    border-top-color: var(--main-card3-color);
    justify-self: center;
    position: absolute;
    top: 45%;
    right: 200px;
    width: 300px;
}

.card-4 {
    grid-column: 2/3;
    border-top: 4px solid;
    border-top-color: var(--main-card4-color);
}

.card-1:hover, .card-2:hover, .card-3:hover, .card-4:hover{
    background: linear-gradient(to right, transparent 50%, var(--white_30) 100%);
}

.icons {
    display: flex;
    justify-content: flex-end;
}

.attribution {
    color: #55def8;
    text-align: center;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media(max-width: 1250px) {
    .cards-container{
        display: flex;
        flex-direction: column;
    }

    .card-1, .card-3 {
        position: static;
        width: revert;
    }

    .cards {
        display: flex;
        flex-direction: column;
        margin: auto;
    }


}