* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-card1-color: hsl(180, 62%, 55%);
    --main-card2-color: hsl(0, 78%, 62%);
    --main-card3-color: hsl(212, 86%, 64%);
    --main-card4-color: hsl(34, 97%, 64%);
    --main-span-color: hsl(234, 12%, 34%);
    --main-text-color: hsl(229, 6%, 66%);
    --main-cards-bg-color:hsl(0, 0%, 98%);
    --main-font-size: 15px;
    --main-font-family: 'poppins', 'san-serif';
}

.attribution {
    color: #55def8;
    text-align: center;
    font-size: 11px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}